@model Entities.Contact

@{
    ViewData["Title"] = "Əlaqə";
}

<h1>Əlaqə</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Contact" id="contact_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                @*<input type="submit" value="Göndər" class="btn btn-primary" />*@
                <input id="Button1" type="submit" value="Göndər" class="btn btn-primary" onclick="contact_form()" />
            </div>
        </form>
    </div>
    <div class="col-md-7">
        <p>Adres: Bakı / Azərbaycan</p>
        <p>Telefon: +994559999999</p>
        <p>Email : info@ayxan.co</p>
    </div>
</div>

@{
    if(TempData["Mesaj"] != null)
    {
        <div class="alert alert-info">
            @TempData["Mesaj"]
        </div>
    }
}

<div id="result" class="alert alert-info" style="display:none">

</div>


@*Ajax ile contact-ı göndərmək*@
@section Scripts
{
    <script>
        function contact_form()
        {
            var nameSurname = $("#Name").val();
            var email = $("#Email").val();
            var phone = $("#Phone").val();
            var message = $("#Message").val();

            var sentMessage = {
                "Name": nameSurname,
                "Email": email,
                "Phone": phone,
                "Message": message
            };

            $.ajax({
                method: "POST",
                url: "/Home/Contact",
                type: "json",
                data: sentMessage,
                success: function(data)
                {
                    document.getElementById("contact_form").reset();
                    $("#result").show().html("Mesaj Göndərildi!").delay("5000").fadeOut();
                },
                error: function(err)
                {
                    $("#result").show().removeClass("alert-info").addClass("alert-danger").html("Mesaj Göndərilə bilmədi!").delay("5000").fadeOut();
                }
            });
        }
    </script>
}



